<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<!--/*-->
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--*/-->
<head th:replace="fragments :: head(~{::title})">
    <title>friday-用户管理</title>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">系统管理</a>
            <a><cite>用户管理</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <!--工具栏-->
            <div class="layui-card">
                <!--操作栏-->
                <script type="text/html" id="toolbar">
                    <button class="layui-btn layui-btn-danger layui-btn-disabled" id="delAllBtn"
                            permission="sys:user:del">
                        <i class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/user/addPage',460,500)"
                            permission="sys:user:add">
                        <i class="layui-icon"></i>添加
                    </button>
                    <!--搜索框-->
                    <div class="layui-card-body layui-inline" permission="sys:user:query">
                        <form class="layui-form layui-col-space5" id="search-form">
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" name="keyword" placeholder="请输入用户ID或用户名" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" lay-submit="" lay-filter="user-search">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </script>

                <div class="layui-card-body">
                    <!--数据表格-->
                    <table class="layui-table layui-form" id="user-table" lay-filter="user-table-filter">
                        <!--列工具栏-->
                        <script type="text/html" id="rowBar">
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"
                               permission="sys:user:edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
                               permission="sys:user:del">删除</a>
                        </script>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        //渲染数据表格
        table.render({
            elem: '#user-table'
            , url: '/user/list' //数据接口
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , page: true //开启分页
            , cols: [
                [ //表头
                    {checkbox: true, fixed: 'left'}
                    , {field: 'userId', title: 'ID', width: 30, sort: true}
                    , {field: 'username', title: '用户名', width: 100, sort: true}
                    , {
                    field: 'role', title: '角色', width: 80, templet: function (data) {
                        return data.role.roleName;
                    }
                }
                    , {
                    field: 'sex', title: '性别', width: 70, sort: true, templet: function (data) {
                        return data.sex === 'M' ? '男' : '女';
                    }
                }
                    , {field: 'phone', title: '电话', width: 120}
                    , {field: 'email', title: '邮箱', width: 150}
                    , {
                    field: 'status',
                    title: '状态',
                    width: 100,
                    hide: (!hasPermission('sys:user:edit')),
                    templet: function (data) {
                        let isChecked = data.status == 1 ? "checked" : "";
                        return '<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="status-filter"' + isChecked + '> ';
                    }
                }
                    , {field: 'createTime', title: '创建日期', width: 150}
                    , {field: 'updateTime', title: '最后更新', width: 150}
                    , {
                    fixed: 'right',
                    title: '操作',
                    width: 140,
                    align: 'center',
                    toolbar: '#rowBar',
                    hide: (!hasPermission('sys:user:edit') && !hasPermission('sys:user:del'))
                }
                ]
            ],
            done: function () {
                checkPermission();

            }
        });

        //监听状态开关
        form.on('switch(status-filter)', function (obj) {
            let status = obj.elem.checked ? 0 : 1;
            let userId = obj.othis.parents('tr').find("td").eq(1).text();
            let username = obj.othis.parents('tr').find("td").eq(2).text()
            let op = (status === 1 ? '停用' : '启用');
            let msg = '是否' + op + '用户:' + username + '?';
            let x = obj.elem.checked;
            layer.open({
                content: msg
                , btn: ['确定', '取消']
                , yes: function (index) {
                    obj.elem.checked = x;
                    $.ajax({
                        url: '/user/state',
                        data: {userId: userId},
                        type: 'PUT',
                        success: function (result) {
                            if (result.code == 200) {
                                layer.msg('修改成功', {icon: 6});
                                layer.close(index);
                                form.render();
                            }
                        },
                        error: function () {
                            obj.elem.checked = !x;
                            form.render();
                            layer.close(index);
                            layer.msg('修改失败', {icon: 5});
                        }
                    });
                }
                , btn2: function (index) {
                    obj.elem.checked = !x;
                    form.render();
                    layer.close(index);
                }
                , cancel: function () {
                    //右上角关闭回调
                    obj.elem.checked = !x;
                    form.render();
                }
            });
            return false;

        });

        //监听复选框
        table.on('checkbox(user-table-filter)', function (obj) {
            if (obj.checked) {
                $('#delAllBtn').removeClass('layui-btn-disabled');
            } else {
                $('#delAllBtn').addClass('layui-btn-disabled');
            }
        });

        //监听工具条
        table.on('tool(user-table-filter)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if (layEvent === 'del') { //删除
                let msg = '确认删除用户:' + data.username + ' 吗?';
                layer.confirm(msg, {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        url: '/user',
                        data: {userId: data.userId},
                        type: 'DELETE',
                        success: function (result) {
                            if (result.code == 200) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.msg('删除成功', {icon: 1});
                            } else {
                                layer.msg("删除失败", {icon: 5});
                            }
                        },
                        error: function (result) {
                            let error = JSON.parse(result.responseText);
                            layer.alert(error.message, {icon: 5});
                        }
                    });

                });
            } else if (layEvent === 'edit') { //编辑
                xadmin.open('编辑用户', '/user/editPage?userId=' + data.userId, 460, 500);
            }
        });

        //监听搜索提交
        form.on('submit(user-search)', function (data) {
            table.render({
                elem: '#user-table'
                , url: '/user?keyword=' + data.field.keyword //数据接口
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
                , page: true //开启分页
                , cols: [
                    [ //表头
                        {checkbox: true, fixed: 'left'}
                        , {field: 'userId', title: 'ID', width: 30, sort: true}
                        , {field: 'username', title: '用户名', width: 100, sort: true}
                        , {
                        field: 'role', title: '角色', width: 80, templet: function (data) {
                            return data.role.roleName;
                        }
                    }
                        , {
                        field: 'sex', title: '性别', width: 70, sort: true, templet: function (data) {
                            return data.sex === 'M' ? '男' : '女';
                        }
                    }
                        , {field: 'phone', title: '电话', width: 120}
                        , {field: 'email', title: '邮箱', width: 150}
                        , {
                        field: 'status', title: '状态', width: 100,
                        hide: (!hasPermission('sys:user:edit')),
                        templet: function (data) {
                            let isChecked = data.status == 1 ? "checked" : "";
                            return '<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="status-filter"' + isChecked + '> ';
                        }
                    }
                        , {field: 'createTime', title: '创建日期', width: 150}
                        , {field: 'updateTime', title: '最后更新', width: 150}
                        , {
                        fixed: 'right',
                        title: '操作',
                        width: 140,
                        align: 'center',
                        toolbar: '#rowBar',
                        hide: (!hasPermission('sys:user:edit') && !hasPermission('sys:user:del'))
                    }
                    ]
                ],
                done: function () {
                    checkPermission();
                }
            });

            return false;
        });

        //批量删除
        $('#delAllBtn').click(function () {
            var checkStatus = table.checkStatus('user-table');
            var msg = '确认删除选中的' + checkStatus.data.length + '行吗？';
            layer.confirm(msg, {icon: 3, title: '提示'}, function (index) {
                var idList = [];
                $.each(checkStatus.data, function () {
                    idList.push($(this)[0].userId);
                });
                $.ajax({
                    url: '/user/list',
                    type: 'DELETE',
                    data: JSON.stringify(idList),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.code == 200) {
                            layer.msg('删除成功', {icon: 1});
                            //xadmin.father_reload();
                            table.reload('user-table');
                        } else {
                            layer.msg('删除失败', {icon: 5});
                        }
                    },
                    error: function (result) {
                        let error = JSON.parse(result.responseText);
                        layer.alert(error.message, {icon: 5});
                    }
                });
            });
        });
    });


</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</html>